$timing: 0.08s;
$blue: #305ae3;
$red: #f94877; 

$font-stack: 'Montserrat', sans-serif;
$bg-color: #e1dce2;
$bg-color-rgba: rgba(225, 220, 226, 0.2);
$bg-color-black: #030101;
$text-color: #808080;

body * {
  	font-family: $font-stack;
}
body{
	background-color: $bg-color;
	padding : 0;
	.container-fluid{
  		padding: 0;
  	}
}

@import 'header';
@import 'firstsection';
@import 'secondsection';
@import 'thirdsection';
@import 'fourthsection';
@import 'footer';