$timing: 0.08s;
$blue: #305ae3;
$red: #f94877; 

$blue-fade: rgba(2,117,216, 5/1000);
$font-stack: 'Montserrat', sans-serif;
$bg-color: #e1dce2;
$bg-color-rgba: rgba(225, 220, 226, 1/5);
$bg-color-black: #030101;
$text-color: #808080;
$bg-color-black: #030101;
$bg-color-black-rgba: rgba(3, 1, 1, 8/10);
$white-color-fade: rgba(255, 255, 255, 1/2);
$blue-color-fade: rgba(2, 117, 216, 5/1000);
$gray-color-fade: rgba(128, 128, 128, 8/10);

body * {
  	font-family: $font-stack;
}
body{
	background-color: $bg-color;
	padding : 0;
	.container-fluid{
  		padding: 0;
  	}
}

@import 'header';
@import 'firstsection';
@import 'secondsection';
@import 'thirdsection';
@import 'fourthsection';
@import 'footer';

[type=reset], [type=submit], button, html [type=button]{
	-webkit-appearance: none !important;
}