$timing: 0.08s;
$blue: #305ae3;
$red: #f94877; 

$blue-fade: rgba(2,117,216, 5/1000);
$font-stack: 'Montserrat', sans-serif;
$bg-color: #e1dce2;
$bg-color-rgba: rgba(225, 220, 226, 1/5);
$bg-color-black: #030101;
$text-color: #C3922E;
$bg-color-black: #030101;
$bg-color-black-rgba: rgba(3, 1, 1, 8/10);
$white-color-fade: rgba(255, 255, 255, 1/2);
$blue-color-fade: rgba(2, 117, 216, 5/1000);
$gray-color-fade: rgba(128, 128, 128, 8/10);

body * {
  	font-family: $font-stack;
  	color: $text-color;
}
body{
	background-color: $bg-color;
	padding : 0;
	.container-fluid{
  		padding: 0;
  	}
}

.loading-bro {
  margin: 45vh auto;
  width: 150px;
  > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #8E8E8E;
  }
}
/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:9999; /* makes sure it stays on top */
}
#load {
	width: 150px;
    animation: loading 3s linear infinite;
    #loading-inner {
		  stroke: {
        dashoffset: 0;
        dasharray: 300;
        width: 10;
        miterlimit: 10;
        linecap: round;
      }
      animation: loading-circle 2s linear infinite;
      stroke: #51BBA7;
      fill: transparent;
    }
	}

@keyframes loading {
		0% { 
      transform: rotate(0); 
    }
		100% { 
      transform: rotate(360deg);
    }
}
@keyframes loading-circle {
		0% { 
      stroke-dashoffset: 0
    }
		100% { 
      stroke-dashoffset: -600;
    }
}

@import 'header';
@import 'firstsection';
@import 'secondsection';
@import 'thirdsection';
@import 'fourthsection';
@import 'footer';

[type=reset], [type=submit], button, html [type=button]{
	-webkit-appearance: none !important;
}