/* line 17, ../sass/main.scss */
body * {
  font-family: "Montserrat", sans-serif;
  color: #c3922e;
}

/* line 21, ../sass/main.scss */
body {
  background-color: #e1dce2;
  padding: 0;
}
/* line 24, ../sass/main.scss */
body .container-fluid {
  padding: 0;
}

/* line 29, ../sass/main.scss */
.loading-bro {
  margin: 45vh auto;
  width: 150px;
}
/* line 32, ../sass/main.scss */
.loading-bro > h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: 300;
  color: #8E8E8E;
}

/* Preloader */
/* line 41, ../sass/main.scss */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 9999;
  /* makes sure it stays on top */
}

/* line 50, ../sass/main.scss */
#load {
  width: 150px;
  animation: loading 3s linear infinite;
}
/* line 53, ../sass/main.scss */
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #51BBA7;
  fill: transparent;
}

@keyframes loading {
  /* line 68, ../sass/main.scss */
  0% {
    transform: rotate(0);
  }

  /* line 71, ../sass/main.scss */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle {
  /* line 76, ../sass/main.scss */
  0% {
    stroke-dashoffset: 0;
  }

  /* line 79, ../sass/main.scss */
  100% {
    stroke-dashoffset: -600;
  }
}

/* line 1, ../sass/_header.scss */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 7, ../sass/_header.scss */
.header .adress_email * {
  display: inline;
  font-size: 10px;
}
/* line 11, ../sass/_header.scss */
.header .social_media a {
  font-size: 10px;
  color: #c3922e !important;
}
/* line 15, ../sass/_header.scss */
.header hr {
  margin: 0;
}
/* line 18, ../sass/_header.scss */
.header #navbarSupportedContent {
  margin-left: 3rem;
}
/* line 21, ../sass/_header.scss */
.header .dropdown-menu-right {
  min-width: 4rem;
}
/* line 24, ../sass/_header.scss */
.header * {
  color: #c3922e;
}
/* line 28, ../sass/_header.scss */
.header .menu_elements span {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  height: 44px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}
/* line 41, ../sass/_header.scss */
.header .menu_elements li:not(.adress_email) {
  width: 18vh;
}
/* line 44, ../sass/_header.scss */
.header .menu_elements a:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.005);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.005);
}
/* line 50, ../sass/_header.scss */
.header .social_media li i, .header .social_media li span:not(.lang) {
  font-size: 20px;
}
/* line 53, ../sass/_header.scss */
.header .social_media li i, .header .social_media li span {
  line-height: 2.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  height: 44px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}
/* line 65, ../sass/_header.scss */
.header .social_media li .lang {
  font-size: 14px;
}
/* line 68, ../sass/_header.scss */
.header .social_media li a {
  text-align: center;
}

/* line 73, ../sass/_header.scss */
.nav-item {
  transform: translate(0, 0);
  text-decoration: none;
}
/* line 76, ../sass/_header.scss */
.nav-item:after {
  left: 50%;
  right: 50%;
  top: 100%;
  height: 2px;
  background-color: #c3922e;
  content: "";
  position: absolute;
  border-radius: 3px;
  transition: left .2s, right .2s;
}
/* line 88, ../sass/_header.scss */
.nav-item:hover:after {
  left: 0;
  right: 0;
  animation: bottomBounce .4s;
}

@keyframes bottomBounce {
  /* line 97, ../sass/_header.scss */
  0% {
    left: 50%;
    right: 50%;
  }

  /* line 98, ../sass/_header.scss */
  60% {
    left: -10px;
    right: -10px;
  }

  /* line 99, ../sass/_header.scss */
  100% {
    left: 0;
    right: 0;
  }
}

/* line 1, ../sass/_firstsection.scss */
.first_section {
  height: 100vh;
  background: url("../media/bg_s1.jpeg") no-repeat right top;
  background-size: cover;
}
/* line 3, ../sass/_firstsection.scss */
.first_section .container-fluid {
  height: 100%;
}

/* line 11, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid {
  height: 100%;
}
/* line 12, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .reservation_submit {
  height: 100%;
}
/* line 14, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .reservation_submit button {
  width: 100%;
  height: 100%;
}
/* line 20, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row {
  width: 100%;
  margin: 0;
}
/* line 24, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row .breadcrumb li {
  display: inline;
  font-size: 0.7em;
}
/* line 27, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row .breadcrumb li a, .first_section-no-bg .container-fluid .row .breadcrumb li i {
  color: #c3922e;
}
/* line 33, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #dining_style ul {
  padding: 0;
}
/* line 35, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #dining_style ul li {
  list-style-type: none;
}
/* line 40, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row .first_section_column {
  background-color: #fff;
  margin: .5rem;
  padding: .5rem;
  position: relative;
  text-align: center;
}
/* line 46, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row .first_section_column #tags {
  padding: 0.5em;
  margin: 0;
}
/* line 49, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row .first_section_column #tags li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 1em;
}
/* line 53, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row .first_section_column #tags li *:not(.fa-tags) {
  font-size: 0.8em;
}
/* line 56, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row .first_section_column #tags li .fa-tags {
  font-size: 2em;
}
/* line 62, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column {
  text-align: left;
  @keyframes flick {
    /* line 126, ../sass/_firstsection.scss */
    60% {
      transform: scale(1.15);
    }

    /* line 127, ../sass/_firstsection.scss */
    100% {
      transform: scale(1);
    }
}

}
/* line 64, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag {
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0px;
}
/* line 70, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag input[type=checkbox] {
  opacity: 0;
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 79, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag input[type=checkbox]:hover + label {
  background: #4f73e7;
}
/* line 84, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag label {
  padding: 7px 34px 6px 18px;
  position: relative;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: #305ae3;
  transition: all 0s ease-in;
}
/* line 95, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag .fa {
  position: absolute;
  z-index: 250;
  right: 11px;
  top: 9px;
  color: white;
  line-height: 0.95;
}
/* line 104, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag .fa-check {
  display: none;
  top: 8px;
  right: 10px;
  transition: all 0s ease-in;
}
/* line 113, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag input[type=checkbox]:checked + label {
  background: #f94877;
  animation: flick 0s;
}
/* line 117, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag input[type=checkbox]:checked ~ .fa-plus {
  display: none;
}
/* line 120, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #tags_column .tag input[type=checkbox]:checked ~ .fa-check {
  animation: flick 0s;
  display: block;
}
/* line 130, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #restaurant {
  text-align: left;
}
/* line 134, ../sass/_firstsection.scss */
.first_section-no-bg .container-fluid .row #restaurant *, .first_section-no-bg .container-fluid .row #restaurant *:before, .first_section-no-bg .container-fluid .row #restaurant *:after {
  box-sizing: border-box;
}

/* line 1, ../sass/_secondsection.scss */
.second_section {
  height: 100vh;
}
/* line 3, ../sass/_secondsection.scss */
.second_section .whiteHat {
  background-color: #fff;
  width: 100%;
  margin: -45px auto 50px;
  padding: 45px 0;
  position: relative;
  z-index: 8888;
  text-align: center;
}
/* line 12, ../sass/_secondsection.scss */
.second_section .hatSize {
  max-width: 870px;
}
/* line 15, ../sass/_secondsection.scss */
.second_section .containerWhiteHat {
  opacity: 1;
  top: 0px;
  position: relative;
}
/* line 20, ../sass/_secondsection.scss */
.second_section .lineBlack {
  height: 3px;
  width: 100%;
  margin: 15px auto 0;
  max-width: 70px;
  background-color: #c3922e;
}
/* line 27, ../sass/_secondsection.scss */
.second_section .whiteHat .intro {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
/* line 32, ../sass/_secondsection.scss */
.second_section .whiteHat .intro p, .second_section .whiteHat .intro h2 {
  font-size: 12px;
  line-height: 22px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
/* line 37, ../sass/_secondsection.scss */
.second_section .second_section_column {
  background-color: #fff;
  height: 50vh;
  margin: .5rem;
  padding: .5rem;
  position: relative;
  text-align: center;
}
/* line 44, ../sass/_secondsection.scss */
.second_section .second_section_column *:not(i) {
  font-size: 12px;
  line-height: 22px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
/* line 49, ../sass/_secondsection.scss */
.second_section .second_section_column img {
  width: 100%;
}
/* line 52, ../sass/_secondsection.scss */
.second_section .second_section_column i {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
/* line 57, ../sass/_secondsection.scss */
.second_section .second_section_column .description_box {
  height: 50%;
  padding: 3vh;
}
/* line 62, ../sass/_secondsection.scss */
.second_section .plate_box .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
/* line 73, ../sass/_secondsection.scss */
.second_section .plate_box:hover .overlay {
  height: 100%;
}
/* line 77, ../sass/_secondsection.scss */
.second_section .text {
  white-space: nowrap;
  font-size: 20px !important;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* line 1, ../sass/_thirdsection.scss */
.third_section {
  height: 100vh;
}
/* line 3, ../sass/_thirdsection.scss */
.third_section .container {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}
/* line 7, ../sass/_thirdsection.scss */
.third_section .container img {
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 100%;
}

/* line 1, ../sass/_fourthsection.scss */
.fourth_section {
  height: 100vh;
}
/* line 3, ../sass/_fourthsection.scss */
.fourth_section .container-fluid {
  height: 100%;
}
/* line 5, ../sass/_fourthsection.scss */
.fourth_section .container-fluid .row {
  width: 100%;
}
/* line 8, ../sass/_fourthsection.scss */
.fourth_section .container-fluid h1 {
  text-align: center;
  width: 100%;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 2.5em;
  margin: 0;
}
/* line 15, ../sass/_fourthsection.scss */
.fourth_section .container-fluid video {
  width: 80%;
  margin: 0px auto;
}
/* line 19, ../sass/_fourthsection.scss */
.fourth_section .container-fluid i {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 2em;
}

/* line 1, ../sass/_footer.scss */
.footer {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  backgronud-position: -500px 0 !important;
}
/* line 5, ../sass/_footer.scss */
.footer .container {
  height: 100%;
  padding: 15px;
  /* Manami */
}
/* line 6, ../sass/_footer.scss */
.footer .container input, .footer .container textarea {
  background-color: transparent;
  border-color: white;
}
/* line 10, ../sass/_footer.scss */
.footer .container ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
/* line 13, ../sass/_footer.scss */
.footer .container ::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}
/* line 16, ../sass/_footer.scss */
.footer .container :-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
/* line 19, ../sass/_footer.scss */
.footer .container :-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}
/* line 22, ../sass/_footer.scss */
.footer .container hr {
  background-color: #c3922e;
}
/* line 27, ../sass/_footer.scss */
.footer .container #top_footer {
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid rgba(225, 220, 226, 0.2);
}
/* line 30, ../sass/_footer.scss */
.footer .container #top_footer #contact_info {
  font-size: 0.7em;
  color: #e1dce2;
}
/* line 33, ../sass/_footer.scss */
.footer .container #top_footer #contact_info p {
  margin: 0;
}
/* line 36, ../sass/_footer.scss */
.footer .container #top_footer #contact_info .columns {
  padding-left: 0;
}
/* line 38, ../sass/_footer.scss */
.footer .container #top_footer #contact_info .columns p {
  padding-left: 1rem;
}
/* line 42, ../sass/_footer.scss */
.footer .container #top_footer #contact_info #second_column {
  padding-right: 0;
}
/* line 46, ../sass/_footer.scss */
.footer .container #top_footer #navigation {
  font-size: 0.7em;
  color: #e1dce2;
}
/* line 49, ../sass/_footer.scss */
.footer .container #top_footer #navigation ul {
  padding: 0;
}
/* line 52, ../sass/_footer.scss */
.footer .container #top_footer #navigation li {
  list-style-type: none;
}
/* line 55, ../sass/_footer.scss */
.footer .container #top_footer #navigation #first_navigation_column {
  padding-right: 0;
}
/* line 60, ../sass/_footer.scss */
.footer .container #top_footer #nous_contactez #last_name, .footer .container #top_footer #nous_contactez #first_name {
  display: inline;
}
/* line 63, ../sass/_footer.scss */
.footer .container #top_footer #nous_contactez #message_content, .footer .container #top_footer #nous_contactez #message_submit {
  margin: 0;
  padding-right: 0;
}
/* line 67, ../sass/_footer.scss */
.footer .container #top_footer #nous_contactez button {
  width: 100%;
  height: 100%;
}
/* line 73, ../sass/_footer.scss */
.footer .container #bottom_footer {
  border-top: 0.1em solid rgba(225, 220, 226, 0.2);
  color: #e1dce2;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 77, ../sass/_footer.scss */
.footer .container #bottom_footer .navbar {
  width: 100%;
  padding: 0;
}
/* line 81, ../sass/_footer.scss */
.footer .container #bottom_footer i {
  font-size: 1em;
  color: #e1dce2;
  margin: 0.6em auto;
}
/* line 86, ../sass/_footer.scss */
.footer .container #bottom_footer #follow_us_label span {
  font-size: 0.6em;
  color: #e1dce2;
}
/* line 90, ../sass/_footer.scss */
.footer .container #bottom_footer img {
  width: 30px;
}
/* line 93, ../sass/_footer.scss */
.footer .container #bottom_footer span {
  font-size: 0.6em;
  float: right;
  margin: 1.2em auto;
}
/* line 99, ../sass/_footer.scss */
.footer .container .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
}
/* line 106, ../sass/_footer.scss */
.footer .container .input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
/* line 121, ../sass/_footer.scss */
.footer .container .input__field:focus {
  outline: none;
}
/* line 125, ../sass/_footer.scss */
.footer .container .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: white;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 143, ../sass/_footer.scss */
.footer .container .textaria_label {
  height: 80%;
}
/* line 147, ../sass/_footer.scss */
.footer .container .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* line 154, ../sass/_footer.scss */
.footer .container .input--manami {
  overflow: hidden;
}
/* line 158, ../sass/_footer.scss */
.footer .container .input__field--manami {
  width: 100%;
  background: transparent;
  padding: 0.5em;
  margin-bottom: 2em;
  color: #f9f7f6;
  z-index: 100;
  opacity: 0;
}
/* line 168, ../sass/_footer.scss */
.footer .container .input__label--manami {
  width: 100%;
  position: absolute;
  text-align: left;
  padding: 0.5em 0;
  pointer-events: none;
  font-size: 1em;
}
/* line 178, ../sass/_footer.scss */
.footer .container .input__label--manami::before,
.footer .container .input__label--manami::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
/* line 185, ../sass/_footer.scss */
.footer .container .input__label--manami::before {
  height: 100%;
  background: #c3922e;
  top: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
/* line 195, ../sass/_footer.scss */
.footer .container .input__label--manami::after {
  height: 2px;
  background: #c3922e;
  top: 100%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 203, ../sass/_footer.scss */
.footer .container .input__label-content--manami {
  padding: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s;
}
/* line 212, ../sass/_footer.scss */
.footer .container .input__field--manami:focus,
.footer .container .input--filled .input__field--manami {
  opacity: 1;
  -webkit-transition: opacity 0s 0.2s;
  transition: opacity 0s 0.2s;
}
/* line 222, ../sass/_footer.scss */
.footer .container .input__label--manami::before,
.footer .container .input__label--manami::after,
.footer .container .input__label-content--manami,
.footer .container .input__field--manami:focus,
.footer .container .input--filled .input__field--manami {
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 228, ../sass/_footer.scss */
.footer .container .input__field--manami:focus + .input__label--manami::before,
.footer .container .input--filled .input__label--manami::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 234, ../sass/_footer.scss */
.footer .container .input__field--manami:focus + .input__label--manami::after,
.footer .container .input--filled .input__label--manami::after {
  opacity: 0;
}
/* line 239, ../sass/_footer.scss */
.footer .container .input__field--manami:focus + .input__label--manami .input__label-content--manami,
.footer .container .input--filled .input__label--manami .input__label-content--manami {
  color: #c3922e;
  -webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
  transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}
/* line 245, ../sass/_footer.scss */
.footer .container #message_content .input__field--manami:focus + .input__label--manami .input__label-content--manami,
.footer .container #message_content .input--filled .input__label--manami .input__label-content--manami {
  color: #c3922e;
  -webkit-transform: translate3d(0, 4.1em, 0) scale3d(0.65, 0.65, 1);
  transform: translate3d(0, 4.1em, 0) scale3d(0.65, 0.65, 1);
}

/* line 91, ../sass/main.scss */
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none !important;
}
